#search_form
  .row
    = form_tag search_path, class: "form-inline", method: :post do
      %h3
        Search songs in database by keyword
      .form-group
        = text_field_tag :search, nil, class: 'form-control'
      = submit_tag 'Search', class: "btn btn-default"
%hr
#paginate_container
  .row.transitions-enabled.table-responsive
    %table.table.table-hover.table-condensed
      %thead
        %tr
          %th
            Track No.
          %th
            Song
          %th
            Duration
          %th
            Artist
          %th
            Album
      %tbody#songs-list
        -@songs.each do | song |
          =render partial: 'song', locals: { song: song }

  = paginate @songs, :remote => true, display: 'none', params: {authenticity_token: nil, commit: nil, utf8: nil, action: nil}

  - unless @songs.last_page?
    #loading_symbol.loading-pagination{ style: "margin-top:-50px"}
      = image_tag 'progress-circle-master.svg', class:'loading-pagination'

:javascript
  $(window).scroll(function() {
   if($(window).scrollTop() > $(document).height() - $(window).height() - 150)
      loadMoreResults();
   return $(window).scroll;
  });

  window.last_url ='';

  function loadMoreResults() {
    var url = $('nav.pagination a[rel=next]').attr('href');
    debugger
    if (url != undefined && url != window.last_url) {
      window.last_url = url;
      var prevImageLength = $("img.album_images").length;

      $.getScript(url).done(function(data, textStatus, jqxhr) {
        var imageLength = $("img.album_images").length;
        var upcommingImages = imageLength - prevImageLength;
        var gtCurrentBatch = imageLength - upcommingImages;
        $("img.album_images:gt(" + gtCurrentBatch.toString() + "), img.album_images:eq(" + gtCurrentBatch.toString() + ")").lazyload({
          effect : "fadeIn"
        });
      });
    }
  };

  $('#songs-list').on('click', 'tr', function(){
    var audioElement = $(this).find('audio')[0];

    $('audio').each(function(){
      if (this != audioElement)
        {
          this.pause(); // Stop playing
          this.currentTime = 0; // Reset time
        }
    });

    $(this).find('.fa-play').toggle();
    $(this).find('.fa-pause').toggle();

    if (audioElement.paused == true)
      audioElement.play();
    else
      audioElement.pause();

  });
